@media (min-width: 1024px) {
    .google-container {
        animation: google 3s;
    }

    @keyframes google {
        0% {
            opacity: 0;
            right: 0px;
        }

        100% {
             opacity: 1;
             right: 550px;
        }
    }

    .google-ads-container {
        animation: google-ads 3s;
    }

    @keyframes google-ads {
        0% { 
            opacity: 0;
            right: 0;
        }

        100% {
            opacity: 1;
            right: 415px;
        }
    }

    .atlassian {
        animation: atlassian 3s;
    }

    @keyframes atlassian {
        0% {
            opacity: 0;
            bottom: -200px;
        }

        100% {
            opacity: 1;
            bottom: 130px;
        }
    }

    .paypal {
        animation: paypal 3s;
    }

    @keyframes paypal {
        0% {
            opacity: 0;
            bottom: -100px;
        }

        100% {
            opacity: 1;
            bottom: 85px;
        }
    }

    .weave {
        animation: weave 3s;
    }

    @keyframes weave {

    }

    .asana {
        animation: asana 3s;
    }

    @keyframes asana {

    }

    .calender {
        animation: calender 3s;
    }

    @keyframes calender {
        
    }
}