@media (min-width: 1024px) {
    .trigram {
        display: none;
    }

    button:hover {
        background-color: white;
        color: dodgerblue;
        transition: 1s;
    }

    .footer-links-container li:hover {
        color: dodgerblue;
        
    }
}

@media (min-width: 768px) AND (max-width: 1023px)  {    
    .top-navigation {
        display: none;
    }

    .trigram {
        padding: 10px;
    }

    .top-container {
        height: 800px;
        display: flex;
        justify-content: center;
    }

    .top-info {
        width: 700px;
        text-align: center;
        height: 350px;
    }

    .top-title {
        text-align: center;
        width: 650px;
        margin: 0 2px;
    }

    .top-button-learn-more {
        justify-content: center;
    }

    .multiple-logos {
        position: relative;
        top: 350px;
        right: 75px;
        margin: 0 auto;
    }

    .bullets {
        width: 650px;
        margin: 0;
    }

    .bullet-circles {
        gap: 0;
        margin: 0 115px;
    }

    .bullet-list ul {
        gap: 137px;
        margin: 0 2px;
    }

    .price-container {
        flex-direction: column;
        padding: 60px;
    }

    .pricing {
        width: auto;
        text-align: center;
    }

    .play-video {
        margin: 0 auto;
    }

    .hire-form-container {
        flex-direction: column;
        gap: 0px;
        height: 850px;
    }

    .hire-us {
        display: flex;
        gap: 50px;
        padding: 15px;
    }

    .hire-us-portion-one {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    hr {
        width: 535px;
    }

    .hire-us-portion-two {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .portrait {
        width: 100px;
        height: 100px;
    }

    .form-control {
        display: flex;
        justify-content: center;
    }

    .form {
        height: 480px;
    }

    .option-control {
        width: 250px;
    }

    footer {
        gap: 0;
        justify-content: center;
        margin: 0 auto;
        width: 768px;
        padding: 20px 0;
    }

    .footer-links-container {
        flex-wrap: wrap;
        gap: 25px;
    }
}

@media (min-width: 375px) AND (max-width: 767px) {
    .top-navigation {
        display: none;
    }

    .trigram {
        padding: 10px;
    }
    
    .top-container {
        height: 800px;
        display: flex;
    }

    .top-info {
        width: 375px;
        text-align: center;
        height: 350px;
        margin: 0 25px
    }

    .top-title {
        text-align: center;
        width: 450px;
    }

    .top-button-learn-more {
        justify-content: center;
    }

    .multiple-logos {
        position: relative;
        top: 400px;
        left: 75px;
        margin: 0 auto;
    }

    .why-front-explaination {
        height: 150px;
        width: 375px;
        margin: 0 auto;
    }

    .bullets {
        justify-content: flex-start;
        margin: 0 30px;
    }

    .bullet-circles {
        flex-direction: column;
        gap: 25px;
    }

    .bullet-list ul {
        flex-direction: column;
        gap: 65px;
    }
    
    .circle-one {
        position: relative;
        bottom: 25px;
        left: 50px;
    }

    .circle-two {
        position: relative;
        bottom: 18px;
        left: 50px;
    }

    .circle-three {
        position: relative;
        bottom: 10px;
        left: 50px;
    }

    .circle-four {
        position: relative;
        bottom: 5px;
        left: 50px;
    }

    .line-one, .line-two, .line-three {
        display: none;
    }

    .price-container {
        flex-direction: column;
    }

    .pricing {
        align-items: center;
    }

    .pricing-line {
        width: 375px;
    }

    .pricing p {
        width: 325px;
        word-spacing: 5px;
        }

    .pricing-table {
        display: flex;
        flex-direction: column;
    }

    td {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .hire-form-container {
        flex-direction: column;
        align-items: center;
        height: 1250px;
    } 

    .hire-us {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer h4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .footer-links-container {
        flex-direction: column;
    }

    footer ul {
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .footer-career {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    footer li {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

}