* {
    font-family: sans-serif;
}

li::marker {
    content: none;
}

button {
    background-color: dodgerblue;
    color: white;
    border-radius: 45px;
    border: 1px solid dodgerblue;
    padding: 15px;
}

header {
    display: flex;
}

.header-content {
    border-bottom: 1px solid black;
}
.top-front-logo {
    height: 40px;
    width: 150px;
}

.top-navigation {
    display: flex;
    justify-content: space-around;
}

.header-button {
    height: 30px;
}

.top-container {
    background-image: url('/assets/bg/background-top.svg');
}

.top-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.top-button-learn-more {
    display: flex;
    align-items: center;
    gap: 20px;
}

.multiple-logos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    bottom: 200px;
}

.logo {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 50%;
}

.pricing-images {
    height: 150px;
    width: 150px;
}

.portrait {
    border-radius: 50%;
    height: 75px;
}

.footer-front-logo {
    height: 100px;
    width: 100px;
}