* {
    font-family: sans-serif;
}

body {
  
}

li::marker {
    content: none;
}

h2 {
    text-align: center;
}

button {
    background-color: dodgerblue;
    color: white;
    border-radius: 45px;
    border: 1px solid dodgerblue;
    padding: 15px;
}

.header-content {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.397);
}

.top-front-logo {
    height: 40px;
    width: 150px;
}

.top-navigation {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.header-button {
}

.top-container {
    background-image: url('/assets/bg/background-top.svg');
}

.top-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.fa-play {
    background-color: white;
    color: dodgerblue;
    border-radius: 20px;
    width: 12px;
    height: 12px;
    padding: 5px;
    margin: 0 5px;
}

.top-button-learn-more {
    display: flex;
    align-items: center;
    gap: 20px;
}

.multiple-logos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    bottom: 200px;
}

.logo {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 50%;
}

.why-front-explaination {
    text-align: center;
}

.bullet-circles {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.circle-one {
    height: 50px;
    width: 50px;
    border: 1px solid #ECF2FF;
    border-radius: 50%;
    background-color: #ECF2FF;    
}

.inner-circle-one {
    height: 6px;
    width: 6px;
    border: 1px solid #0066FF;
    border-radius: 50%;
    background-color: #0066FF;
    margin: 22px;  
}

.circle-two {
    height: 50px;
    width: 50px;
    border: 1px solid #ECF2FF;
    border-radius: 50%;
    background-color: #ECF2FF;
}

.inner-circle-two {
    height: 6px;
    width: 6px;
    border: 1px solid #0066FF;
    border-radius: 50%;
    background-color: #0066FF;
    margin: 22px;
}

.circle-three {
    height: 50px;
    width: 50px;
    border: 1px solid #ECF2FF;
    border-radius: 50%;
    background-color: #ECF2FF;
}

.inner-circle-three {
    height: 6px;
    width: 6px;
    border: 1px solid #0066FF;
    border-radius: 50%;
    background-color: #0066FF;
    margin: 22px;
}

.circle-four {
    height: 50px;
    width: 50px;
    border: 1px solid #ECF2FF; 
    border-radius: 50%;
    background-color: #ECF2FF;  
}

.inner-circle-four {
    height: 6px;
    width: 6px;
    border: 1px solid #0066FF;
    border-radius: 50%;
    background-color: #0066FF;
    margin: 22px;
}

.bullet-list ul{
    display: flex;
    justify-content: space-evenly;
}

.price-statement {
    text-align: center;
}

.price-container {
    display: flex;
    gap: 50px;
    padding: 10px;
}

.pricing {
    height: 350px;
    padding: 40px;
    border: 1px solid #E2E2E2; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 50px;
}

.pricing-images {
    height: 100px;
    width: 100px;
}

.components-cancel {
    
}

.sketch {
    background-color: #01C9A7;
    border: 1px solid #01C9A7;
}

.images-moneyback {
    
}

.container-form {
    background-color: #20335B;
    display: flex;
    padding: 15px;
}

.hire-us {
    color: white;
    padding: 15px;
}

.form {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.portrait {
    border-radius: 50%;
    height: 75px;
}

footer {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
}

.footer-front-logo {
    height: 100px;
    width: 100px;
}
