* {
    font-family: sans-serif;
}

header {
    display: flex;
}

.header-content {
    border-bottom: 1px solid black;
}
.top-front-logo {
    height: 40px;
    width: 150px;
}

.top-navigation {
}

.header-button {
    height: 30px;
}

.top-info {
    background-image: url('/assets/bg/background-top.svg');
}

.multiple-logos {
    
}

.logo {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 50%;
}
